.page-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .page-container {
    width: 100%;
  }
}
.section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 25%;
  width: 100%;
}
.section-1 {
  background-image: url("../../../assets/backgrounds/section-1.jpg");
}
.section-2 {
  background-image: url("../../../assets/backgrounds/section-2.jpg");
  margin-top: 1em;
  padding-top: 3em;
}
.section-3 {
  background-image: url("../../../assets/backgrounds/section-3.png");
}
.section-4 {
  background-image: url("../../../assets/backgrounds/section-4.jpg");
}
.about-us {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 0.3em;
  color: #33bad8;
}
.get-started-button {
  background-color: #33bad8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2em;
  margin-top: 0.5em;
}
